<div class="container_small-card">
    <div class="container_content">
        <div class="small-card_img">
            <img src="https://img2.migalhas.com.br/_MEDPROC_/https__img.migalhas.com.br__SL__gf_base__SL__empresas__SL__MIGA__SL__imagens__SL__2023__SL__05__SL__16__SL__cropped_25gjf0cl.vbj.jpg._PROC_CP75CCH31622400.jpg" alt="image">
        </div>
        
        <div class="small-card-title">
            <h1><a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, deleniti explicabo asp</a></h1>
        </div>

    </div>
    <div class="line">
        <hr>
    </div>
</div>
